<%  layout("/layouts/boilerplate") -%>
    <%=success%>
    <h3>Listing page</h3>
    
    
    <div class="row row-cols-lg-3 row-cols-md-2  row-cols-1">
       
            <% for (let listing of AllListings) { %>

                <div class="col">
                    <a href="/listing/<%=listing._id%>" class="listing-link">
                    <div class="card" >
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="list_img">
                        <div class="card-img-overlay"></div>

                        <div class="card-body">
                            <p><%= listing.title %></p><br>
                            <p>&#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "Price Not Available" %>/night</p>

                        </div>
                    </div>
                    </a>
                </div>
            <% } %>
       
    </div>
    
    

